.main-box__messages{data: {id: message.id}}
  .upper-message
    .main-box__messages--username
      = message.user.name
    .main-box__messages--time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .lower-message
    - if message.body.present?
      %p.main-box__messages--latestmessage
        = message.body
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
