.header
  .header__box
    .header__box--massage
      グループを作成しました。
.wrapper
  .left-box
    .left-box__header
      .left-box__header--username
        test-name
      .left-box__btn
      =link_to "", class: "contents__btn contents__btn--twitter" do
        = fa_icon 'edit', class: "left-box__btn--icon"
      =link_to "", class: "contents__btn contents__btn--twitter" do
        = fa_icon 'cog', class: "left-box__btn--icon"
    .left-box__body
      .left-box__body--groupname
        test-group
      .left-box__body--latestmessage
        さようなら
      .left-box__body--groupname
        sample-group
      .left-box__body--latestmessage
        hello!
      .left-box__body--groupname
        test-group
      .left-box__body--latestmessage
        まだメッセージはありません
  .main-box
    .main-box__header
      .main-box__header--groupname
        test-group
        .main-box__header--member
          Member : testuser
      .main-box__header--edit
        Edit
    .messages-box
      .main-box__messages
        .main-box__messages--username
          test-user
        .main-box__messages--time
          xxxxxxxxxxxxx
        .main-box__messages--latestmessage
          こんにちは
      .main-box__messages
        .main-box__messages--username
          test-user
        .main-box__messages--time
          xxxxxxxxxxxxx
        .main-box__messages--latestmessage
          さようなら
    .main-box__form
      %input.main-box__form--input{:placeholder => "type a message",}
      = fa_icon 'image', class: "main-box__from--btn"
      %input{type: "submit", value: "Send", class: "main-box__form--sendbtn"}