.header
  .header__box
    .header__box--massage
      グループを作成しました。
.wrapper
  .left-box
    .left-box__header
      .left-box__header--username
        test-name
        = fa_icon 'edit'
    .left-box__body
