.header
  グループを作成しました。

.left-box
  .left-box__header
    .left-box__header--namebox
      test-name
      .left-box__header--btn
        = fa_icon 'edit',class: "left-box__header--btn--icon"
        %input.left-box__header--btn--input{type: "button",}
        = fa_icon 'cog',class: "left-box__header--btn--icon"
        %input.left-box__header--btn--input{type: "button",}
  .left-box__body
    .left-box__body--messagebox
      .left-box__body--messagebox--groupname
        test-group
      .left-box__body--messagebox--latestmessage
        さようら
    .left-box__body--messagebox
      .left-box__body--messagebox--groupname
        sample-group
      .left-box__body--messagebox--latestmessage
        hello!
    .left-box__body--messagebox
      .left-box__body--messagebox--groupname
        example
      .left-box__body--messagebox--latestmessage
        まだメッセージがありません
        
.main-box
  .main-box__header
    .main-box__header--groupname
      test-group
      .main-box__header--member
        Member : testuser
    =link_to "", class: "main-box__header--edit" do
      Edit
  .messages-box
    .main-box__messages
      .main-box__messages--username
        test-user
      .main-box__messages--time
        xxxxxxxxxxxxx
      .main-box__messages--latestmessage
        こんにちは
    .main-box__messages
      .main-box__messages--username
        test-user
      .main-box__messages--time
        xxxxxxxxxxxxx
      .main-box__messages--latestmessage
        さようなら
  .main-box__form
    .main-box__form--box
      .main-box__form--block
        %input.main-box__form--input{:placeholder => "type a message",}
          %label.main-box__form--image
            = fa_icon 'image'
            %input{type: "file", class: "main-box__form--file"}
      %input{type: "submit", value: "Send", class: "main-box__form--sendbtn"}