
.header {
  background-color: #38AEF0;
  color:white;
  text-align: center;
}

.left-box{
  background-color: #2f3e51;
  height: 100vh;
  width: 300px;
  color:#FFFFFF;
  float: left;
  &__header{
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    &--username{
      margin-top: 35px;
      font-size: 16px;
      font-weight: bold;
      position: absolute;
    }
  }
  &__btn--icon{
    float: right;
    color: #FFFFFF;
    padding-left: 5px;
    margin-top: 35px;
  }
  &__body{
    padding: 0 20px;
    font-weight: bold;
    &--groupname{
      font-size: 15px;
      padding-top: 20px;
    }
    &--latestmessage{
      font-size: 11px;
      padding: 5px 0 40px 0;
    }
  }
}

.main-box{
  float: left;
  height: 100vh;
  width: calc(100vw - 300px);
  &__header{
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    padding: 0 40px;
    &--groupname{
      font-size: 20px;
      color: #333333;
      margin-top: 35px;
      display: inline-block;
    }
    &--member{
      font-size: 12px;
      color: #999999;
      padding-top: 15px;
    }
    &--edit{
      font-size: 16px;
      float: right;
      height: 40px;
      padding: 0 20px;
      color: #38AEF0;
      border: solid 1px #38AEF0; 
      margin-top: 28px;
      position: relative;
    }
  }
}