*{
  box-sizing: border-box;
}

.header {
  background-color: $keycolor;
  color:white;
  text-align: center;
}

.left-box{
  background-color: #2f3e51;
  color:#FFFFFF;
  width: 300px;
  float: left;
  &__header{
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &--namebox{
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-weight: bold;
    }
  &--btn{
      cursor: pointer;
    &--icon{
      padding-left: 5px;
    }
    &--input{
      display: none;
    }
    }
   }
  &__body{
    padding: 0 20px;
    font-weight: bold;
    &--groupname{
      font-size: 15px;
      padding-top: 20px;
    }
    &--latestmessage{
      font-size: 11px;
      padding: 5px 0 40px 0;
    }
  }
}

.messages-box{
  height: calc(100vh - 190px)
}

.main-box{
  background-color: #fafafa;
  float: left;
  min-height: 100vh;
  width: calc(100vw - 300px);
  &__header{
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    padding: 0 40px;
    &--groupname{
      font-size: 20px;
      color: #333333;
      margin-top: 35px;
      display: inline-block;
    }
    &--member{
      font-size: 12px;
      color: #999999;
      padding-top: 15px;
    }
    &--edit{
      font-size: 16px;
      float: right;
      height: 40px;
      padding: 0 20px;
      color: $keycolor;
      border: solid 1px $keycolor; 
      margin-top: 28px;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      line-height: 40px;
    }
  }
  &__messages{
    padding: 0 40px;
    &--username{
      display: inline-block;
      margin-top: 46px;
      font-size: 16px;
      font-weight: bold;
      color: #434A54
    }
    &--time{
      font-size: 12px;
      display: inline-block;
      padding-left: 10px;
      color: #999999;
    }
    &--latestmessage{
      font-size: 14px;
      padding: 10px 0 40px 0;
    }
  }
  &__form{
    background-color: #DDDDDD;
    height: 90px;
    width: calc(100vw - 300px);
  &--box{
    width: calc(100vw - 500px);
    height: 100%;
    position: relative;
    float: left;
    margin: 20px 0 20px 40px;
    height: 50px;
  }
  &--input{
  background-color: #fafafa;
  width: calc(100% - 10px);
  border: solid 0px;
  height: 50px;
  position: relative;
  padding-left: 10px;
  }
  &--image{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.3rem;
  }
  &--file{
    display: none;
  }
  &--sendbtn{
    background-color: $keycolor;
    height: 50px;
    display: inline-block;
    color: white;
    margin: 20px 40px 20px 15px;
    padding: 0 30px;
    line-height:50px;
    text-decoration: none;
    cursor: pointer;
  }
 }
}