
.header {
  background-color: #38AEF0;
  color:white;
  text-align: center;
}

.left-box{
  background-color: #2f3e51;
  height: 100vh;
  width: 300px;
  color:#FFFFFF;
  &__header{
    background-color: #253141;
    height: 15vh;
    position: relative;
    &--username{
      font-size: 16px;
      font-weight: bold;
      position: absolute;
    }
  }
}


